@model Proyect_web_def.Models.Pedido

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container" style="background-color: #93B1A6;">
<h1>Details</h1>

<div>
    <h4>Pedido</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaPedido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaPedido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Clave)
        </dd>
    </dl>
</div>
<div>
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.PedidoID">Editar</a> |
        <a class="btn btn-primary" asp-action="Index">Volver a la lista</a>
</div>
